<header class="nsd fixed-top">
    <div class="container"> 
      <div class="d-flex flex-wrap navbar align-items-center justify-content-around "> 
        <a class="navbar-brand me-5">
          <img src="https://www.ticketshow.com.ec/rps/img/logo.png" width="100%" alt="" loading="lazy" />
        </a> 
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a routerLink="home" class="nav-link px-2 text-white">Inicio</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Eventos</a></li>
          <li><a routerLink="comunicado" class="nav-link px-2 text-white">Comunicados</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Boletos comprados</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2" onclick="">Inicio de sesión</button>
          <!-- <button type="button" class="btn btn-warning">Sign-up</button> -->
        </div>
      </div>
    </div>
  </header>

  